@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    background-color: rgb(60, 137, 234);
}

.clock{
    font-size: 8em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 210px;
    color: orange;
    font-family: 'Audiowide', cursive;
}
